In [1]:
for item in list(range(10)):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def fn(param_1):
    print("you're running the fn function")

fn()

In [6]:
def fxy(x=13, y=9):
    print(x)
    print(y)
    print(f'The sum of {x} and {y} is {x + y}.')
fxy()
fxy(5, 10)

fxy(y=3, x=4)

13
9
The sum of 13 and 9 is 22.
5
10
The sum of 5 and 10 is 15.
4
3
The sum of 4 and 3 is 7.

In [8]:
def fxy(x, y=3):
    print(x)
    print(y)
    print(f'The sum of {x} and {y} is {x + y}.')
fxy(4)

4
3
The sum of 4 and 3 is 7.

In [20]:
def abc(a, b):
    if a<=b:
        z = (f'{b} divided by {a} is {b/a}.')
    else:
        z = (f'{a} divided by {b} is {a/b}.')
    return z

abc(8,16)

'16 divided by 8 is 2.0.'

In [22]:
def div_xy(x, y):
    if x >= y:
        z = x / y
    else:
        z = y / x
    return z
 
 
answer = div_xy(y=10, x=5)
 
print(answer)

2.0

In [24]:
def sum_prod(num1, num2):
    sum_12 = num1 + num2
    prod_12 = num1 * num2

    return sum_12, prod_12#

answer = sum_prod(30, 72)
print(answer)
print(answer[0])

(102, 2160)
102

In [30]:

def newfn(x, y):
    if x >= y:
        a = x
        b = y
    else:
        a = y
        b = x
    return a/b, a-b
newfn(6,2)

(3.0, 4)

In [37]:
list_1 = [1, 2, 3]
list_2 = [2, 4, 6]

#for i in list_1:
#    for j in list_2:
#?

#def big_maths(x, y):
#    i = x**2
#    j = y**2
#    def sq(x, y):
#        return x**y

def x_power_x(x):
    return x**x
def sq(x):
    return x**2
def big_math(x):
    return sq(x), x_power_x(x)

print(big_math(3))

(9, 27)

In [40]:
# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x),
# Now write a function that uses math.sqrt() to find the square root of a number
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

import math 
def squ(x):
    return x**x
def sq_rt(y):
    return math.sqrt(y)
def tricky_maths(x, y):
    return squ(x), sq_rt(y)

print(tricky_maths(4, 16))

(256, 4.0)

In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')

def ethnic_check(ethnicity_code):
    if 'W' in ethnicity_code:
        return 'White or mixed white'
    else:
        return 'Not White'

df['background'] = df['Ethnicity'].apply(ethnic_check)

df

     Unnamed: 0        LAchildID Ethnicity            background
0             0  RND000215205141      WIRT  White or mixed white
1             1  RND000824303014      WROM  White or mixed white
2             2  RND000750143123      AOTH             Not White
3             3  RND000909164501      MWBC  White or mixed white
4             4  RND000382171815      APKN             Not White
..          ...              ...       ...                   ...
327         327  RND000112711501      WOTH  White or mixed white
328         328  RND000513120794      WROM  White or mixed white
329         329  RND000541643134      BCRB             Not White
330         330  RND000404939452      AIND             Not White
331         331  RND000589802835      WBRI  White or mixed white

[332 rows x 4 columns]

In [45]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

def cal_age(current_year):
    return current_year - 'PersonBirthDate'

def age_buckets(age):
    if age <= 5:
        return '0-5'
    elif age <= 11:
        return '6-11'
    elif age <= 17:
        return '12-17'
    else:
        return'18+'
def add_age_buckets(df, current_year):
    df['Age'] = df['BirthYear'].apply(lambda x: cal_age(x, current_year))
    df['AgeBucket'] = df['Age'].apply(age_buckets)
    return df

current_year = 2024

print(df)

#failed

     Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
0             0  RND000215205141  A850728973744        NaN         NaN
1             1  RND000824303014  A141396438491        NaN         NaN
2             2  RND000750143123  A929946861554        NaN         NaN
3             3  RND000909164501  A612330267292        NaN         NaN
4             4  RND000382171815  A604459366806        NaN         NaN
..          ...              ...            ...        ...         ...
327         327  RND000112711501  A465246916125        NaN         NaN
328         328  RND000513120794  A540014111973        NaN         NaN
329         329  RND000541643134  A549582689058        NaN         NaN
330         330  RND000404939452  A889492349196        NaN         NaN
331         331  RND000589802835  A877624860226        NaN         NaN

    PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
0        2019-12-06                     NaN              1             NaN
1        2011-04-27                     NaN              9             NaN
2        2017-06-06              2019-12-06              1             NaN
3        2014-10-03                     NaN              0             NaN
4        2019-09-25                     NaN              2             NaN
..              ...                     ...            ...             ...
327      2010-07-07                     NaN              2             NaN
328      2018-08-14                     NaN              2             NaN
329      2021-12-09                     NaN             51             NaN
330      2013-07-23                     NaN              2             NaN
331      2021-10-25                     NaN              9             NaN

[332 rows x 9 columns]

In [54]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

def bucket_maker(date_code):
    bday = pd.to_datetime(date_code, format="%Y-%m-%d")
    today = pd.to_datetime('today')


    if today < bday + pd.DateOffset(years=6):
        return '0-5 years old'
    elif today < bday + pd.DateOffset(years=12):
        return '6-11 years old'
    elif today < bday + pd.DateOffset(years=12):
        return '12-17 years old'
    else:
        return 'over 18+'

df['Age Bucket'] = df['PersonBirthDate'].apply(bucket_maker)

df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate      Age Bucket
0        2019-12-06   0-5 years old
1        2011-04-27        over 18+
2        2017-06-06  6-11 years old
3        2014-10-03  6-11 years old
4        2019-09-25   0-5 years old
..              ...             ...
327      2010-07-07        over 18+
328      2018-08-14   0-5 years old
329      2021-12-09   0-5 years old
330      2013-07-23  6-11 years old
331      2021-10-25   0-5 years old

[332 rows x 2 columns]

In [57]:
    bd = pd.to_datetime(date, format="%Y-%m-%d")
 
    age = pd.to_datetime('today') - bd
 
    age = age / pd.Timedelta(365.25, 'd')
 
    if age < 6:
        return '0 - 5 years old'
    elif age < 12:
        return '6 - 11 years old'
    elif age < 18:
        return '12 - 17 years old'
    else:
        return '18+ years old'
   
CI_task['Age bucket'] = CI_task['PersonBirthDate'].apply(age_bucket)
 
CI_task[['PersonBirthDate', 'Age bucket']]

NameError: name 'date' is not defined

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')
 
 
def bucket_maker(date_code):
    bday = pd.to_datetime(date_code, format="%Y-%m-%d")
    today = pd.to_datetime('today')
 
    age = today - bday
    age = age / pd.Timedelta(365.25, 'd')
 
    if age < 6:
        return '0-5 years old'
    elif age < 12:
        return '6-11 years old'
    elif age < 18:
        return '12-17 years old'
    else:
        return '18+ years old'
 
df['Age Bucket'] = df['PersonBirthDate'].apply(bucket_maker)
 
df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate       Age Bucket
0        2019-12-06    0-5 years old
1        2011-04-27  12-17 years old
2        2017-06-06   6-11 years old
3        2014-10-03   6-11 years old
4        2019-09-25    0-5 years old
..              ...              ...
327      2010-07-07  12-17 years old
328      2018-08-14    0-5 years old
329      2021-12-09    0-5 years old
330      2013-07-23   6-11 years old
331      2021-10-25    0-5 years old

[332 rows x 2 columns]

In [56]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

def bucket_maker(date_code):
    bday = pd.to_datetime(date_code, format="%Y-%m-%d")
    today = pd.to_datetime('today')
    
    # Calculate the age using DateOffset and correct comparisons
    if today < bday + pd.DateOffset(years=6):
        return '0-5 years old'
    elif today < bday + pd.DateOffset(years=12):
        return '6-11 years old'
    elif today < bday + pd.DateOffset(years=18):
        return '12-17 years old'
    else:
        return 'over 18+'

# Apply the bucket_maker function to the 'PersonBirthDate' column
df['Age Bucket'] = df['PersonBirthDate'].apply(bucket_maker)

# Display the 'PersonBirthDate' and 'Age Bucket' columns
print(df[['PersonBirthDate', 'Age Bucket']])

    PersonBirthDate       Age Bucket
0        2019-12-06    0-5 years old
1        2011-04-27  12-17 years old
2        2017-06-06   6-11 years old
3        2014-10-03   6-11 years old
4        2019-09-25    0-5 years old
..              ...              ...
327      2010-07-07  12-17 years old
328      2018-08-14    0-5 years old
329      2021-12-09    0-5 years old
330      2013-07-23   6-11 years old
331      2021-10-25    0-5 years old

[332 rows x 2 columns]